* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Tahoma, Arial;
  overflow-x: hidden;
}

.repos-container {
  width: 800px;
  background-color: #f6f6f6;
  margin: auto;
  border-radius: 0.5rem;
}
